# Sample environment variables file for FADH call center application
# Docker Compose will look for a version of this file called .env.development,
# so make a copy of this and customize for dev. Production would typically be
# called just .env, or all vars would already be declared in the environment.

# Default to prod, just in case we forget something.
# Of course, change this to 
NODE_ENV=production

TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token

TWILIO_WORKSPACE_SID=configured_call_center_workspace_sid
TWILIO_CHAT_SERVICE_SID=configured_call_center_chat_sid
TWILIO_API_KEY_SID=your_api_key
TWILIO_API_KEY_SECRET=your_api_secret

CALL_CENTER_ADMIN_USERNAME=some_superadmin_username
CALL_CENTER_ADMIN_PASSWORD=bcrypt_compatible_admin_pword_hash
CALL_CENTER_AGENT_PASSWORD=bcrypt_compatible_agent_pword_hash
CALL_CENTER_SESSION_KEY=random_session_key